
/*QUIZ */
@import url('https://fonts.cdnfonts.com/css/battlestar');
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: grey;
}



.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

section{
    border: 2px solid rgb(10, 160, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px dashed rgb(10, 160, 255);
    margin-bottom: 3px;
}

label:hover{
background-color: rgb(10, 160, 255);
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color:rgb(10, 160, 255);
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(0, 109, 177);
    color: #fff;
}

h2{
    text-align: center;
    

}
h1{
    text-align: center;
    font-family: 'Battlestar', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}

#res{
    font-size: 2rem;
}




/*GAME */
#aqui{
    color: rgb(10, 160, 255);
}




.game{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    border: none;
}


.game-board{
    width: 100%;
    height: 655px;
    border: 1px solid #333;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    border-bottom: 12px solid rgb(34, 34, 34);
    background:linear-gradient(rgb(22, 13, 68), rgb(65, 62, 62));
   
    border-radius: 13px;

}

.game-board h1{
    font-family: 'Battlestar', sans-serif;
    font-size: 2rem;
}

.banco{
    position: absolute;
    bottom: 0;
    width: 150px;

    animation: banco-img-animation 1.5s infinite linear;
}

.forrest{
    width: 150px;
    position: absolute;
    bottom: 0;
    
}

.lua{
    width: 150px ;
    position: absolute;
right: 0;
}

.jump{
    animation:  jump 500ms ease-out;
}

@keyframes banco-img-animation{
    from{
        right: -150px;
    }

    to{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: 0;
    }
40%{
    bottom: 200px;
}

    50%{
        bottom: 200px;
    }

    60%{
        bottom: 200px;
    }
    100%{
        bottom: 0;
    }
}

