*{
    margin: 0; padding: 0; box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
  
    
  }

  body{
    background:linear-gradient(rgb(50,150,200), rgb(0,0,0));
     height:100vh;
     overflow: hidden;
  }

  span{
    color: #fff;
  }
  
  /* pagina graficos */
  
  
  .dash {
    width: 50%;
    position: relative;
    top: 0;
    left: 25%;
    background-color: rgb(139, 139, 139);
    align-items: center;
    height: 70vh;
    margin-top: 150px;
    border-radius: 20px;
  }

  
  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .graph {
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }
  
  .tituloGraficos {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .btn-chart {
    font-family: "Exo 2", sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(10, 160, 255);
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-chart:hover {
    background-color:rgb(65, 92, 247); 
    cursor: pointer;
  }
  .titulo-dash{
    text-align: center;
    color: #fff;
  }
  #aqui{
    color: rgb(10, 160, 255);
  }