*{
    margin: 0; padding: 0; box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
  
    
  }

  span{
    color: #fff;
  }
  
  
  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 80px;
  }
  
  .div-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-buttons > * {
    margin-left: 30px;
  }
  
  /* pagina graficos */
  
  
  .dash {
    width: 50%;
    position: relative;
    top: 0;
    left: 25%;
    background-color: rgb(139, 139, 139);
    align-items: center;
    height: 70vh;
    margin-top: 150px;
  }
  

  .item-regua {
    padding: 5px;
    width: 15%;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 450px;
    width: 100%;
    align-items: center;
    color: white;
  }
  
  .card {
    margin: 2%;
    width: 40%;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
    height: 180px;
    justify-content: right;
    background-color: #212124;
    font-size: 20px;
  }
  
  .card p {
    margin: 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: left;
  }
  
  .cards h1 {
    font-size: 22px;
    width: 100%;
    border-bottom: solid white 1px;
    text-align: left;
    font-weight: lighter;
    margin: 20px;
  }
  
  .btns-dash {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .graph {
    width: 60%;
    margin: auto;
    padding-top: 10px;
  }
  
  .tituloGraficos {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .btn-chart {
    font-family: "Exo 2", sans-serif;
    border: 0;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: rgb(10, 160, 255);
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
  }
  .btn-chart:hover {
    background-color:rgb(65, 92, 247); 
    cursor: pointer;
  }
  .titulo-dash{
    text-align: center;
    color: #fff;
  }