
/*QUIZ */
@import url('https://fonts.cdnfonts.com/css/battlestar');
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: grey;
}



.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

section{
    border: 2px solid rgb(10, 160, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
}

label{
    display: block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px dashed rgb(10, 160, 255);
    margin-bottom: 3px;
}

label:hover{
background-color: rgb(10, 160, 255);
}

button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color:rgb(10, 160, 255);
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(0, 109, 177);
    color: #fff;
}

h2{
    text-align: center;
    

}
h1{
    text-align: center;
    font-family: 'Battlestar', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}

#res{
    font-size: 2rem;
}
#score{
    color: rgb(8, 235, 8);
}
#descricao{
    max-width: 500px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #fff;
    margin-bottom: 3px;
 font-size: 1rem;
}
textarea{
    width: 60%;
    border-radius: 12px;
    outline: none;
}

#descricao button{
padding: 10px;
width: 30%;
}






